.column {
    display: inline-block;
    position: relative;
    width: 20%;
    text-align: center;
    margin: 0 auto ;
}

.ab-banner {
    background: none;
    text-align: center;
    padding-top: 50px
}

.ab-email {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    background: none
}

.btn {
    padding-left: 10px;
    outline: 0 none;
    border: 0 none;
}

@media (min-width: 767px) {
    .ab-img.col-md-3 {
        padding-top: 100px;
        padding-left: 60px;
    }
    .col-md-6.ab-img {
        padding-top: 100px;
        padding-left: 200px;
    }
}

@media (max-width: 415px) {
    .ab-img {
        padding-top: 100px;
        padding-left: 120px;
    }
}

