.column {
    display: inline-block;
    position: relative;
    width: 20%;
    text-align: center;
    margin: 0 auto ;
}

.ab-banner.page-header,
.ab-banner.ab-email,
.ab-banner.ab-calendar {
    background: none;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.ab-banner.page-header {
    padding-top: 50px;
    font-size: 60px;
}

.ab-banner.ab-email {
    padding-top: 100px;
    font-size: 15px;
}

.ab-banner.ab-calendar {
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 20px;
}

.ab-banner h1,
span,
.ab-banner a {
    color: black;
}

.btn {
    padding-left: 10px;
    outline: 0 none;
    border: 0 none;
}

.scale-down {
     height: 128px;
}

@media (min-width: 767px) {
    .ab-img.col-md-3 {
        padding-top: 100px;
        padding-left: 60px;
    }
    .col-md-6.ab-img {
        padding-top: 100px;
        padding-left: 200px;
    }
    .col-md-9.ab-img {
        padding-top: 100px;
        padding-left: 600px;
    }
}

@media (max-width: 415px) {
    .ab-img {
        padding-top: 100px;
        padding-left: 120px;
    }
}

